* {
    box-sizing: border-box;
}

body {
    background-color: #3a444e;
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    padding: 20px 20px;
    height: 450px;
    width: 450px;
    position: relative;
}

.grafik {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
}

.item {
    display: none;
}

#wrong-letters {
    position: absolute;
    top: 30px;
    right: 30px;
}

#popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: green;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
}

#word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid yellow;
    font-size: 30px;
    margin: 0 3px;
    height: 40px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#message {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 80px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out;
}

#message.show {
    transform: translateY(-80px);
}