* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2.5rem;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px
}